header {
    width: 800px;
    height: 200px;
    background-color: rgb(97, 235, 157);
}

nav {
    width: 100px;
    height: 400px;
    background-color: rgba(83, 50, 190);
}


section {
    width: 700px;
    height: 400px;
    background-color: rgba(255, 152, 212);
}

footer {
    width: 800px;
    height: 200px;
    background-color: rgba(141, 236, 255);
}

main {
    display: flex;
    flex-direction: row;
}

p {
    padding: 30px;
}

